<ul>
  <li>
    <label>U:</label>
    <%= number_of_users %>
  </li>
  <li>
    <label>C:</label>
    <%= number_of_customers %>
  </li>

  <li>
    <label>O:</label>
    <%= number_of_orders %>
  </li>
</ul>
