@import "compass/css3/transition";

#body_wrapper #prefooter_wrapper {
  height: 35px;
}

#preorder-landing-wrapper {
  .region5wrap {
    padding-bottom:20px;
  }
  h1 {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 39px;
  }
  h2 {
    font-size: 30px;
    letter-spacing: -1px;
  }
  ul.type3 {
    list-style: none;
  }
  .member-info {
    text-align: center;
    h3 {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 12px;
    }
    .member-name {
      font-size: 20px;
      font-weight: 500;
      margin-top: 4px;
      margin-bottom: 17px;
      span {
        display: block;
        font-size: 0.7em;
      }
    }
    .member-possition {
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 15px;
    }
    .member-description {
      color:#da0000;
      display: block;
      border-top:1px solid #e5e5e5;
      border-bottom:1px solid #e5e5e5;
      font-size: 22px;
      padding: 10px 5px 14px;
      @include transition-property(all);
      @include transition-duration(0.4s);
      @include transition-timing-function(ease-in);
    }
  }
  .preorder-banner {
    h2 {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.45;
      margin-bottom: 0;
      padding: 1px 15px 0;
      text-transform: uppercase;
    }
  }
  .promotion h2 {
    font-size: 22px;
  }
}

blockquote {border-left: none;}

a,
img,
span {
  .preorder-banner &,
  .preorder-package & {
    position: relative;
    display: block;
  }
}

.preorder-banner {
  position: relative;
  p,
  h4,
  cite,
  span,
  blockquote {
    color: #fff;
  }
  p,
  h4,
  span {
    text-transform: uppercase;
  }
  p,
  h1,
  h4,
  span,
  blockquote {
    position: absolute;
  }
  em,
  span,
  blockquote {
    font-weight: 700;
  }
  p,
  h1,
  h4,
  blockquote {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  p,
  blockquote {
    font-style: italic;
  }
  h4,
  blockquote {
    text-align: right;
  }
  h1 {
    line-height: 1;
    top: 17%;
    img {
      display: block;
      right: -6%;
    }
  }
  blockquote {
    font-size: 14px;
    line-height: 1.3;
    padding-left: 0;
    padding-right: 40px;
    top: 64%;
    margin-left: 64% !important;
    width: 37% !important;
  }
  cite {
    font-size: 13px;
    padding-right: 58px;
    padding-top: 4px;
  }
  h4 {
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    margin-left: 0;
    margin-right: 0;
    padding: 0 15px;
    top: 89.5%;
    left: 2%;
  }
  b {
    display: block;
    font-size: 14px;
    padding-bottom: 1px;
  }
  p {
    font-size: 23px;
    line-height: 1;
    right: 15px;
    top: 90%;
  }
  em {
    color: #ff0000;
  }
  span {
    background-color: #ff0000;
    font-size: 20px;
    left: 7%;
    line-height: 50px;
    top: 59%;
    width: 27% !important;
  }
  sup {
    color: #666;
    font-size: 40%;
    left: -3px;
    letter-spacing: 0;
    top: -10px;
  }
}

.video-box {
  h1,
  h3 {
    color: #fff;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.preorder-package {
  margin-bottom: 24px;
  span {
    background-color: #ff0000;
    color: #fff;
    float: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 68px;
    margin: -68px auto 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.preorder {
  overflow: hidden;
  padding-top: 10px;
  h2 {
    color: #ff0000;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: -6px;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    color: #636363;
    line-height: 1.3;
    padding-top: 5px;
    margin-bottom: 11px;
    text-align: right;
  }
  span {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    padding-top: 5px;
    padding-left: 20px;
    width: 85%;
  }
  li {
    color: #636363;
    font-size: 21px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 10px;
  }
  ul {
    color: #ee1c24;
    margin-left: 35px;
    list-style-image: image-url('preorder/sqred.png');
  }
  .button {
    background-color: #ff0000;
    border-color: #ff0000;
    box-shadow: none;
    cursor: pointer;
    display: block;
    font-size: 26px;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    &:hover {
      background-color: #ff0000;
      border-color: #ff0000;
    }
}

.lifestyle-program {
  background: #fff image-url('preorder/separator.png') no-repeat 0 0;
  margin-right: -15px;
}

}

.promotion {
  padding-bottom: 20px;
  padding-top: 5px;
  ul {
    list-style-image: image-url('preorder/sqred_small.png');
    margin-left: 48px;
    margin-bottom: 7px;
  }
  li {
    font-size: 14px;
    padding-bottom: 6px;
  }
  span {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 2px;
  }
  h2 {
    margin-left: -5px;
    margin-bottom: 9px;
  }
  img {
    max-width: 110%;
    margin-left: -15px;
  }
}

.dolce-lifestyle {
  position: relative;
  overflow: hidden;
  text-align: right;
  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 3px;
    padding-top: 31px;
  }
  h2,
  p {
    color: #636363;
    text-transform: uppercase;
  }
  p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 0;
  }
  div {
    position: relative;
  }
  .bottom-line,
  .coach {
    float: left;
  }
  .coach {
    margin-left: -15px;
  }
  .bottom-line {
    display: block;
    margin-top: -5%;
  }
}

.region10wrap {
  .footer_bottom {margin-top: -5px;}
}
/* ====> Region 9 Wrap <==== */

.region9wrap{background-color:rgba(0,0,0,0.7); margin-top:20px; border-top:5px solid rgba(153,153,153,0.4)}

/* ====> Region 10 Wrap <==== */

.region10wrap{color:#999; background-color:rgba(0,0,0,0.7);}
.region10wrap p{ margin:0; padding:10px 0;}

.scrollup {
  width: 50px;
  height: 50px;
  opacity: 0.7;
  position: fixed;
  bottom: 30px;
  right: 10px;
  display: none;
  text-indent: -9999px;
  /* background: image-url('preorder/icon_top.png') no-repeat center center #999; */
  z-index: 999999;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 3px 5px 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.scrollup:hover {
  opacity: 0.9;
  /* background: image-url('preorder/icon_top.png') no-repeat center center; */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 3px 5px 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  #preorder-landing-wrapper {
    .region5wrap {
      margin-top: 2px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    h2 {
      font-size: 22px;
    }
    .preorder-banner {
      h2 {
        font-size: 18px;
        letter-spacing: 0;
      }
    }
    .video-box h1 {
      font-size: 30px;
    }
  }

  span {
    .preorder-banner &,
    .preorder-package & {
      line-height: 50px;
      position: relative;
    }
  }

  .preorder-banner {
    span {
      font-size: 26px;
      left: 0;
      line-height: 49px;
      margin: 15px 15px 0;
      position: relative;
      top: 0;
      width: auto !important;
    }
    h1 img {
      width: 60%;
    }
    h4 {
      top: 68%;
      font-size: 10px;
    }
    b {
      padding-bottom: 0;
    }
    blockquote {
      top: 36%;
      width: 46% !important;
      margin-left: 52% !important;
      padding-right: 0;
    }
    b,
    cite,
    blockquote {
      font-size: 11px;
    }
    p {
      font-size: 16px;
      padding-top: 3px;
      top: 69%;
      right: 0;
    }
  }

  .preorder-package {
    margin-bottom: 15px;
    span {
      font-size: 26px;
      margin-top: 0;
    }
  }

  .preorder {
    p {
      font-size: 14px;
      text-align: left;
    }
    li {
      font-size: 18px;
    }
    span {
      font-size: 16px;
      padding-bottom: 8px;
    }
    ul {
      margin-left: 20px;
      padding-right: 15px;
    }
    li {
      font-size: 18px;
    }
  }

  .lifestyle-program {
    background: none;
    margin-right: 0;
    padding-top: 25px;
  }

  h2 {
    .preorder &,
    .dolce-lifestyle & {
      letter-spacing: -1px;
    }
  }

  .promotion {
    h2 {
      font-size: 22px;
      margin-left: 0;
      margin-top: 10px;
    }
    li {
      font-size: 14px;
    }
    span {
      font-size: 12px;
    }
    img {
      max-width: 100%;
      margin-left: 0;
    }
  }

  .dolce-lifestyle {
    h2,
    p {
      text-align: left;
    }
    p {
      font-size: 14px;
      padding-top: 5px;
    }
    .coach {
      margin-left: 10%;
      margin-top: 20px;
      width: 80%;
    }
  }
}


@media only screen and (min-width: 320px) and (max-width: 639px) {
  .preorder-banner {
    h4 {
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 0;
      width: 50% !important;
      position: absolute;
      right: 0;
      padding: 0 15px;
      left: 44%;
      margin-top: -75px !important;
      text-align: left;
      top: inherit;
    }
    b {
      font-size: 12px;
    }
    img {
      margin-left: -50%;
      max-width: 150%;
    }
    p {
      position: absolute;
      top: inherit;
      margin-top: -25px;
      text-align: right;
    }
    h1 {
      display: none;
    }
    blockquote,
    cite {
      color: #000;
    }
    blockquote {
      font-size: 14px;
      left: 0;
      margin: 0 auto !important;
      padding: 18px 15px 0;
      position: relative;
      text-align: left;
      top: 0;
      width: auto !important;
    }
    cite {
      font-size: 12px;
      text-align: right;
    }
    span {
      position: relative;
      top: inherit;
    }
  }
  .video-box {
    h3 {
      font-size: 18px;
    }
  }
  .preorder span {
    width: 100%;
  }
  .dolce-lifestyle h2 {
    padding-top: 0;
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .preorder-banner {
    p {
      padding-top: 0;
    }
  }
}

@media only screen and (min-width: 420px) and (max-width: 639px) {
  .preorder-banner {
    p {
      margin-top: -27px;
    }
    blockquote {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}


@media only screen and (min-width: 500px) and (max-width: 639px) {
  .preorder-banner {
    blockquote {
      width: 70% !important;
      padding-left: 30px;
      padding-right: 0;
      margin: 0 auto !important;
    }
    h4 {
      margin-top: -22px;
    }
  }
}


@media only screen and (min-width: 767px) and (max-width: 959px) {
  .preorder-banner {
    p {
      font-size: 18px;
    }
    blockquote {
      padding-right: 15px;
      width: 37% !important;
      margin-left: 62% !important;
      top: 58%;
    }
    cite,
    blockquote {
      font-size: 12px;
    }
    h1 img {
      right: 3%;
      width: 95%;
    }
    h4 {
      top: 89%;
    }
    b {
      font-size: 13px;
    }

    span {
      line-height: 40px;
    }
  }
  #preorder-landing-wrapper {
    h2 {
      font-size: 22px;
    }
    .member-info {
      h3 {
        font-size: 15px;
      }
      h4 {
        font-size: 16px;
      }
    }
  }
  .video-box {
    h3 {
      font-size: 16px;
    }
  }
  .preorder-package {
    span {
      font-size: 22px;
      line-height: 50px;
      margin-top: -50px;
    }
  }
  .preorder {
    p {
      font-size: 14px;
      letter-spacing: 0;
    }
  }
  .lifestyle-program {
    li {
      font-size: 18px;
    }
    span {
      font-size: 16px;
      padding-bottom: 12px;
    }
  }
  .promotion {
    .button {
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 1000px) {
  .dolce-lifestyle p {
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.5;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 380px) {
  .preorder-banner {
    p {
      font-size: 12px;
      margin-top: -19px;
    }
    h4 {
      font-size: 11px;
      font-weight: 400;
      padding: 0 0 0 15px;
      text-align: left;
      top: inherit;
      width: 50% !important;
      margin-top: -63px !important;
    }
    blockquote,
    cite {
      color: #000;
    }
    blockquote {
      width: auto !important;
      font-size: 13px;
      padding: 15px 15px 0 20px;
      position: relative;
      top: inherit;
      text-align: left;
    }
    cite {
      font-size: 12px;
      padding-top: 4px;
      text-align: right;
    }
  }
  .dolce-lifestyle {
    .coach {
      margin-left: 10%;
      width: 100%;
    }
    h2 {
      letter-spacing: -1px;
    }
  }
}
