<div class="member-info">
  <h3>"It's the best thing I ever did. <br/>I've gone from a dress size 8 to a size 2."</h3>
  <%= link_to success_stories_path(:anchor => 'daniela-story') do %>
    <%= image_tag "pages/daniela.jpg" %>
  <% end %>
  <h2 class="member-name ">Daniela P.<span></span></h2>
  <h4><span class="member-description"><b>Weight Loss: 15 lbs</b></span></h4>
</div>
