<div class="member-info">
  <h3>"The program catapulted me into<br />the lifestyle I've always wanted."</h3>
  <%= link_to success_stories_path(:anchor => 'durrell-story') do %>
    <%= image_tag "preorder/durrell.jpg" %>
  <% end %>
  <p class="note">Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
  <h2 class="member-name ">Durrell M.<span>Security</span></h2>
  <h4><span class="member-description"><b>Weight Loss: 42 lbs</b></span></h4>
</div>
