<div class="member-info">
  <h3>"The food in UFC FIT is awesome!<br />It's actual food."</h3>
  <%= link_to success_stories_path(:anchor => 'nelson-story') do %>
    <%= image_tag "preorder/nelson.jpg" %>
  <% end %>
  <h2 class="member-name ">Nelson M.<span></span></h2>
  <h4><span class="member-description"><b>Weight Loss: 30 lbs</b></span></h4>
</div>
