<div class="member-info">
  <h3>"I decided to really focus on getting<br />healthy, not just for me, but for my family."</h3>
  <%= link_to success_stories_path(:anchor => 'vanessa-story') do %>
    <%= image_tag "preorder/vanessa.jpg" %>
  <% end %>
  <p class="note">Results will vary based on many factors including starting weight, effort and diet. Results achieved with the UFC FIT program, including its reduced-calorie diet.</p>
  <h2 class="member-name bottom20">Vanessa L.<span>Speech Therapist</span></h2>
  <h4><span class="member-description"><b>Weight Loss: 21 lbs</b></span></h4>
</div>
