<tr style="color:#fff; font-family:helvetica; font-size:12px; background-color:black;" bgcolor="black">
  <th width="300"><a href="http://www.ufcfit.com">
    <%= image_tag "logos/logo.png", :width => "300", :height => "90" %></a></th>
  <th width="300" color="white" bgcolor="black" align="right" valign="middle" style="color:#fff; font-family:helvetica; font-size:12px" colspan="1"><%= right_text %></th>
</tr>
