<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <a href="http://www.ufcfit.com">
      <%= image_tag "emails/launch.jpeg", :width => "600", :height => "800" %>
    </a>
  </body>
</html>
