<div id='preorder-header-wrapper'>
  <div  class="row">
    <div class="twelve columns">
      <%= link_to  root_path do %>
        <%= image_tag 'preorder/header.png', :width => 1100, :height => 70  %>
      <% end %>
    </div>
  </div>
</div>
