  <h2>Shipping Policy</h2>

<!--bb-->
<p>Unless otherwise noted, UFC FIT will use its best efforts to ship products within a reasonable time after receipt of your properly completed order. Although UFC FIT may provide delivery or shipment timeframes or dates, you understand that those are UFC FIT's good-faith estimates and may subject to change. You further understand that product availability may be limited and particular products may not be available for immediate delivery, in which case the products will be delivered when they become available. UFC FIT shall not be liable for any loss, damage, cost, or expense related to any delay in shipment or delivery.</p>

<p>Shipping to Alaska and Hawaii addresses is an additional $15.99 per order. Additionally, we currently do not offer express or ground shipping to these destinations.</p>

<h4>All international shipping is not available at this time.</h4>

<!--h4>Please see the chart below which summarizes UFC FIT&#x27;s shipping rates:</h4>

<table class="faq">
  <tr valign="top">
    <th></th>
    <th>48 Contiguous United States</th>
    <th>Alaska and Hawaii</th>
    <th>Canada</th>
    <th>APO / FPO Addresses<br>and US Territories</th>
  </tr>
  <tr>
    <th>Classic&nbsp;Pink</th>
    <td>
      <ul>
        <li>Free on orders over $49.00<br> ($4.95 flat rate on all other orders)</li>
        <li>Estimated shipping time:<br> 4&ndash;7 business days*</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>$11.95 per order</li>
        <li>Estimated shipping time:<br> 9&ndash;11 business days*</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>$19.95 per order</li>
        <li>Estimated shipping time:<br> 9&ndash;14 business days*</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>$14.95 per order</li>
        <li>Estimated shipping time:<br> 7&ndash;9 business days*</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Premium&nbsp;Pink</th>
    <td>
      <ul>
        <li>$6.95 per order</li>
        <li>Estimated shipping time:<br> 2&ndash;5 business days*</li>
      </ul>
    </td>
    <td>Not available</td>
    <td>Not available</td>
    <td>Not available</td>
  </tr>
  <tr>
    <th>Express&nbsp;Pink</th>
    <td>
      <ul>
        <li>$17.95 per order</li>
        <li>Estimated shipping time:<br> 1&ndash;2 business days*</li>
      </ul>
    </td>
    <td>Not available</td>
    <td>Not available</td>
    <td>Not available</td>
  </tr>
</table-->


  <h2>Returns and Exchanges Policy</h2>

<p>The success of our UFC FIT customers is proof that this program will get you your desired results in just 12 weeks. Plus, we're so sure you'll love this program, we're giving you our XX-day money-back guarantee. If you're not completely satisfied, simply go to <%= link_to 'Client Services', contact_us_path %> for a Return Authorization number to return UFC FIT within 30 days for a refund of the purchase price, less shipping and handling.</p>


<p>All items returned for a refund are subject to a $X.XX restocking fee, to be deducted from the amount refunded to the card used for purchase.
Replacement of products for shipped merchandise claimed as not received are subject to our investigation, which may include postal-service notification. We will adjust your account at our discretion. Repeated claims of undelivered merchandise may result in the cancellation of your account.</p>




<!--table class="faq">
  <tr valign="top">
    <th></th>
    <th><div id="contiguous_us">48 Contiguous United States<div></th>
    <th><div id="everywhere_else">AK, HI, Canada, APO/FPO Addresses &amp; US Territories</div></th>
  </tr>
  <tr>
    <th>Classic&nbsp;Pink</th>
    <td>Feb. 1 (Friday)</td>
    <td>Jan. 28 (Monday)</td>
  </tr>
  <tr>
    <th>Premium&nbsp;Pink</th>
    <td>Feb. 5 (Tuesday)</td>
    <td>Not available</td>
  </tr>
  <tr>
    <th>Express&nbsp;Pink</th>
    <td>Feb. 11 (Monday)</td>
    <td>Not available</td>
  </tr>
</table>
<br>
<p class="note">*For orders verified before 11:00 a.m. (PST).</p-->
