//= require  /site/app_mixins
@import "site/my_account";
@import "site/cart";
@import "site/welcome_header";
@import "site/panel";
@import "site/checkout";
@import "site/password_reset";
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";

// RoR eCommerce Customer-Facing Styles

@include sticky-footer(54px, "#body_wrapper", "#prefooter_wrapper", "#footer_wrapper");

.clearfix {
  @include clearfix();
}

.flash_messages {
  margin-top: 20px;
}
div.alert-box.warning {
  background-color: #F6E6E6;
  border: 1px solid #c60f13;
  color: #D61f23;
  text-shadow: 0 0px rgba(0, 0, 0, 0.1);
}
.field_with_errors {
  input {
    border: 1px #C66 solid;
  }

  .dropdown {
    a.current {border: solid 1px #C66;}
  }
}
.error-text {
  color: #f6c0c0;
}

form.custom {
  .field_with_errors {
    div.custom.dropdown {
      a.current {border: solid 1px #C66;}
      a.selector {border: solid 1px #C66;}
    }
  }
}

.footer-buffer-wrapper {
  background: image-url('preorder/bg9.png' ) repeat;
  margin-top:20px;
  border-top:5px solid rgba(153,153,153,0.4);
  .footer-buffer{
    background:rgba(0,0,0,0.7) repeat;
    padding:20px 0;
  }
}
#footer_wrapper {
  //color:#333;
  background: image-url('preorder/bg9.png' ) repeat;
  color: #999;
  .background_wrapper {background-color: rgba(0,0,0,0.7);}
  .inner-footer_wrapper {border-top: 1px solid #666;}
  ul {
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    text-align:left;
    &#main-footer-tabs {
      margin-top:18px;
      float:right;
      margin:10px 0;
      padding: 5px 0;
    }
    li {
      color: #ccc;
      border-left:1px solid #999;
      margin-left:12px;
      padding:0 0 0 12px;
      font-size: 12px;
      &:first-child{ border-left:none;}
      &#main-footer-tabs {
        &:hover{color:#CC0000;}
      }
      a {
        color: #ccc;
        &:hover {color:#CC0000;}
      }
    }
  }
  .inline-list {margin-top:18px;}

}


.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}
.unfade {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.unfade:hover {
  opacity: 0.8;
}

.first_double_hr {
  border-top:1px solid #444;border-botton:1px solid #DDD;color:#444;margin:0;
}
.second_double_hr {
  border-top:1px solid #DDD;margin: 1px 0;margin-bottom: 20px;
}
/* margin */

.top20 {margin-top: 20px;}
.bottom20 {margin-bottom: 20px;}

ul {
  list-style: none;
  &.vertical-list {
    display: block;
    label {
      display: inline-block;
      width: 150px;
      &.long {
        width: 250px;
      }
    }
    &.compact {
      label {
        width: 70px;
      }
    }
  }
}

body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, p, blockquote, th, td {color: #909090;}
