<div class="container region5wrap">

    <div class="row maincontent">

    <div class="twelve columns">

          <div class="row">

              <!-- Portfolio Item Media -->
            <div class="twelve columns">

              <section class="slider">
              <div class="gallery-slider flexslider">

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                  <ul class="slides" >

                      <li>
                        <%= image_tag 'preorder/gallery/1.jpg' %>
                    </li>
                    <!--
                    <li>
                        <%#= image_tag 'preorder/gallery/2.jpg' %>
                    </li>
                    <li>
                        <%#= image_tag 'preorder/gallery/3.jpg' %>
                    </li>
                    <li>
                        <%#= image_tag 'preorder/gallery/4.jpg' %>
                    </li>
                    -->
                  </ul>
                </div>

              </div>

              </section>

            </div>
                <!-- End Portfolio Item Media -->

                <div class="twelve columns text-center">

              <h2>We deliver precise strategic thinking and <a href="#">marketing direction</a> that can turn your concept from vision to reality. The main core of our strategy is achieving targeted and measurable results.<a href="#"> We can help you</a> plan all your marketing efforts!</h2>

              </div>


                <div class="twelve columns text-center">

              <%= image_tag 'preorder/package.jpg', :width=>"1000", :height=>"428"%>
              <h1>THE COMPLETE UFC FIT LIFECYCLE PROGRAM</h1>
                </div>

              <!-- Portfolio Item Description -->
                <div class="seven columns">

                     <div class="row">
                      <div class="twelve columns">


                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>



                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas sit asperna.</p>

                        </div>
                      </div>
                </div>
                <div class="five columns">

                      <div class="row">

                      <div class="twelve columns">
              <ul class="type3">
                  <li><i class="icon-caret-right"></i>12 WORKOUT DVDs</li>
                  <li><i class="icon-caret-right"></i>WORKOUT TRACKER</li>
                  <li><i class="icon-caret-right"></i>LIFESTYLE &amp; NUTRITION MANUAL
                      <ul>
                      COMPLETE WITH GROCERY LISTS, MEAL PLANS AND RECIPES
                      </ul>
                  </li>
                  <li><i class="icon-caret-right"></i>3-DAY SHRED</li>
              </ul>
                      </div>
                    </div>

                </div>
                <!-- End Portfolio Item Description -->
                <!--div class="twelve columns">

                  <hr class="bottom10"/>

                </div-->
                <!-- Portfolio Item - Similar Works -->
                <div class="twelve columns bottom20" style="background-color:#c30615;">

                  <h1><span style="color:#fff;">UFC FIT SNEAK PEAK</span></h1>

                    <div class="row">



                        <div class="nine columns">
                        <div class="flex-video widescreen">
                            <iframe width="560" height="315" src="http://www.youtube.com/embed/eRsGyueVLvQ?rel=0" frameborder="0" allowfullscreen=""></iframe>
                              </div>
                        </div>

                        <div class="three columns">

                        <p style="color:#fff;">Etiam auctor tincidunt augue at pharetra. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae.</p>

                        </div>


                    </div>
                <br><br>
                </div>


                <!-- Portfolio Content -->
                <div class="twelve columns">

                  <div class="row">

                      <div id="container" class="clickable variable-sizes clearfix isotope" style="position: relative; overflow: hidden; height: 554px;">

                <!-- Portfolio Item -->
                            <div class="six columns element logo print isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">

                              <div class="portfolio-item bottom-shadow">

                                  <div class="portfolio-item-image image-overlay">
                          <%= image_tag 'preorder/works/1.jpg' %>
                                        <div class="overlay-icon" style="overflow: hidden; display: none;">
                                              <div class="overlay-links">
                                                  <a class="titan-lb" data-titan-group="gallery" href="images/works/1.jpg" title="Etiam ultrices mi vel libero hendrerit ultricies.Pellentesque lacinia ultrices ac imperdiet."><span class="icon-search"></span></a>
                                                    <a href="single-project.html"><span class="icon-link"></span></a>
                                                </div>
                                              <div class="overlay-title">
                                                  <h3>OFFER #1</h3>
                                                </div>
                                         </div>
                                    </div>

                                    <div class="portfolio-item-content">
                                      <h4 class="title"><a href="single-project.html">STANDARD OFFER</a></h4>
                                        <p>STANDARD OFFER </p>
                                        <a href="" class="button">PRE-ORDER NOW &gt;</a>
                                    </div>

                              </div>

                </div>
                            <!-- End Portfolio Item -->

                            <!-- Portfolio Item -->
                            <div class="six columns element ill print isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(540px, 0px, 0px);">

                              <div class="portfolio-item bottom-shadow">

                                  <div class="portfolio-item-image image-overlay">
                          <%= image_tag 'preorder/works/2.jpg' %>
                                    <div class="overlay-icon">
                                              <div class="overlay-links">
                                                </div>
                                              <div class="overlay-title">
                                                  <a href="" class="button">PRE-ORDER NOW &gt;</a>
                                                </div>
                                         </div>
                                    </div>

                                    <div class="portfolio-item-content">
                                      <h4 class="title"><a href="single-project.html">DELUXE OFFER</a></h4>
                                        <p>DELUXE OFFER INFO</p>
                                        <a href="" class="button">PRE-ORDER NOW &gt;</a>
                                    </div>

                              </div>

                </div>
                            <!-- End Portfolio Item -->


                </div>
                </div>
                </div>
                <!-- End Portfolio Item - Similar Works -->

          </div>

        </div>

    </div>

  </div>

