<% if display_shipping_warning? %>
  <div class="row">
        <%= raw "<div data-alert class='alert-box success'> Orders will not be shipped until mid-May <a href='' class='close'>&times;</a></div>"  %>
  </div>
<% end %>
